<% provide(:title, 'Log in') %>
<h1>Log in</h1>
<div class="form">
  <%= form_for(:session, url: login_path) do |f| %>

    <div class="field">
      <%= f.label :email %><br>
      <%= f.text_field :email %>
    </div>

    <div class="field">
      <%= f.label :password %><br>
      <%= f.password_field :password %>
    </div>

    <div class="remember_checkbox">
    <%= f.label :remember_me, class: "checkbox inline" do %>
       <%= f.check_box :remember_me %>
       <span>Remember me on this computer</span>
    <% end %>
    </div>

    <div class="actions">
      <%= f.submit "Log in", class: "styled-button-8" %>
    </div>
      <p class="text">New user? <%= link_to "Sign up now!", signup_path %></p>


  <% end %>

</div>
