<!DOCTYPE html>
<html>
<head>
<div id="header">
<h2  class= "headertext1">Online Shop </h2>
<% if logged_in? %>
<h3 class= "headertext2"><%=  link_to "Log out", logout_path, method: "delete" %></h3>
<% end %>
</div>
<% if logged_in? %>
 <p class="textcss3"> Logged in as <%= current_user.name %></p>
<% end %>
  <title>OnlineShop2</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id = "container">
<%= yield %>
<div id = "footer">
<p id="footertext">© Rubytribe</p>
<!--<script >
function startTime() {
    var today=new Date();
    var h=today.getHours();
    var m=today.getMinutes();
    var s=today.getSeconds();
    var d = today.getDate();
    var m = today.getMonth();
    var y = today.getFullYear();
    m = checkTime(m);
    s = checkTime(s);
    document.getElementById('footerclock').innerHTML = h+":"+m+":"+s+" (+03:00) "+"  "+ d + "/" + m+"/"+y;
    var t = setTimeout(function(){startTime()},500);
}
function checkTime(i) {
    if (i<10) {i = "0" + i};  // add zero in front of numbers < 10
    return i;
}
</script>
<body onload="startTime()" >
<p id="footerclock"></p>
-->
<script type="text/javascript">
function display_c(){
var refresh=1000; // Refresh rate in milli seconds
mytime=setTimeout('display_ct()',refresh)
}

function display_ct() {
var strcount
var x = new Date()
document.getElementById('footerclock').innerHTML = x;
tt=display_c();
}
</script>
</head>

<body onload=display_ct();>
<span id='footerclock' ></span>

</div>
<div id = "body"></div>
</div>
</body>
</html>
