<% provide(:title, "Home")%>
<div style="background-color: #B6F2DC; border-radius: 5px">
<h1>Welcome to Store! You can find almost everything you want here</h1>
<ul><li style="display: inline; font-size: 40px"><%= link_to "Start browsing!" , products_path %></li></ul>
<table class="image_size_table"><tr><th colspan="3">TABLES TABLES TABLES!</th></tr>
  <tr>
    <td><%= image_tag('table2') %></td>
    <td><%= image_tag('table4') %></td>
    <td><%= image_tag('table9') %></td>
  </tr>
  <tr>
    <td><%= image_tag('table5') %></td>
    <td><%= image_tag('table10') %></td>
    <td><%= image_tag('table6') %></td>
  </tr>
</table>
<h1> Who doesn't want a table?</h1>
</div>
