<% provide(:title, "The Table Store & Others")%>
<div style="background-color: #B6F2DC; border-radius: 5px">
<h1 style="text-align: center">Welcome to Store! You can find almost everything you want here</h1>
<div style="text-align:center">
  <div class="myButton" style="float: right, padding-right: 10px; width:50%; text-align:center">
    <%= link_to "Start browsing!" , products_path %>
  </div>
</div>
<table class="image_size_table"><tr><th colspan="3">TABLES TABLES TABLES!</th></tr>
  <tr style="width: 100%">
    <td><%= image_tag('table2') %></td>
    <td><%= image_tag('table4') %></td>
    <td><%= image_tag('table9') %></td>
  </tr>
  <tr style="width: 100%">
    <td><%= image_tag('table5') %></td>
    <td><%= image_tag('table10') %></td>
    <td><%= image_tag('table6') %></td>
  </tr>
</table>
<h1 style="padding: 20px"> Who doesn't want a table?</h1>
</div>
