<div class="divaliniat">
<%= form_for(@product) do |f| %>
  <%= f.label :name, class: "textcss" %><br>
  <%= f.text_field :name, class: "dap_text_box" %><br><br>
  <%= f.label :description, class: "textcss" %><br>
  <%= f.text_field :description, class: "dap_text_box" %><br><br>
  <%= f.label :price, class: "textcss" %><br>
  <%= f.text_field :price, class: "dap_text_box" %><br><br>
  <%= f.submit "Save changes", class: "btn" %><br><br>
  <a href='/products/show'<button type="button" class="btn"><< Back</button></a>
<% end %>
</div>
