<div class="divaliniat">
<table>
<thead>
<th>Name</th>
<th>Description</th>
<th>Price</th>
<th>Added by</th>
<th colspan="2"></th>
</thead>
<tbody>
<% @products.each do |product| %>
<tr>
  <td><span class="textcss2"><%=  product.name%></span></td>
  <td><span class="textcss2"><%=  product.description %></span></td>
  <td><span class="textcss2"><%=  product.price %></span></td>
  <td><span class="textcss2"><%= product.user.name %> <br><%= (product.created_at+ 3.hours).strftime("%d/%m/%Y at %H:%M") %></span></td>
  <td><%= link_to 'Edit', edit_product_path(product) %></td>
  <td><%= link_to 'Destroy', product, method: :delete %></td>
</tr>
<% end %>
</tbody>
</table>
<br>
 <a href='/products/new'<button type="button" class="btn">Add</button></a>
 </div>

