<!DOCTYPE html>
<html>
  <head>
    <title>Store</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div class="wrapper">
      <header>
        <h1><%= yield(:title) %></h1>
        <ul>
          <!-- if not logged in -->
          <li class="myButton">  <%= link_to "Sign Up", signup_path %> </li>
          <li class="myButton" style="margin-left:15px">  <%= link_to "Log In",login_path %>  </li>
          <!-- else
          <li class="myButton">  <%= link_to "Profile",'#' %>  </li>
          -->
          <li class="myButton">  <%= link_to "About" , about_path %></li>
          <li class="myButton">  <%= link_to "Contact" , contact_path %></li>
          <li class="myButton">  <%= link_to "Home" , root_path %></li>
        </ul>
      </header>
      <% flash.each do |message_type, message| %>
        <div class="flash_<%= message_type %>"><%= message %></div>
      <% end %>
      <div class="container">
        <%= yield %>
      </div>

      <footer>Copyright 1997 The Bear From the Forest</br>
      <p>Disclaimer: everyone who uses this site for commercial
        use deserves congratiulations because, despite the big table market,
        some people just don't like tables</p>
       <p style="float: left">The time:<%= @time %></p>
      </footer>
    </div>
  </body>
</html>
