<% provide(:title,"Add a new product") %>

 <div class="new_product">
   <div class="flash_danger"><%= flash[:danger]  %></div>
<span style="color: red">   <% if @product.errors.any? %> </br>
    <% @product.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  <% end %> </span>

  <%= form_for(@product) do |prod| %></br>
    <%= prod.label :name %></br>
    <%= prod.text_field :name, class: :text_field_style%></br>
    <%= prod.label :description %></br>
    <%= prod.text_area :description, size: "50x10" %></br>
    <%= prod.label :image_url %></br>
    <%= prod.text_field :image_url, class: :text_field_style %></br>
    <%= prod.label :price %></br>
    <%= prod.number_field :price, step: 0.01, class: :text_field_style %></br>
  <div style="position: relative; top: 5px; padding-top: 3px">
    <%= prod.submit "Create new product", class: :btn%>
  </div>
  <% end %>
  <ul><li style="display: inline; position: relative; left: -20px  "><%= link_to "Back", @product %></li></ul>
</div>
