<% provide(:title, 'Create product') %>
<h1>Create product</h1>
<div class="form">
  <%= form_for(@product) do |f| %>
  <%= render 'shared/error_messages' %>
    <div class="field">
      <%= f.label :title %><br>
      <%= f.text_field :title %>
    </div>
    <div class="field">
      <%= f.label :description %><br>
      <%= f.text_area :description, rows: 6 %>
    </div>
    <div class="field">
      <%= f.label :image_url %><br>
      <%= f.text_field :image_url %>
    </div>
    <div class="field">
      <%= f.label :price %><br>
      <%= f.text_field :price %>
    </div>
    <div class="actions">
      <%= f.submit "Create product", class: "styled-button-8" %>
    </div>
  <% end %>
</div>
